services:
  mongodb:
    image: mongo
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_DB_PWD}
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_DB_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_DB_PWD}
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_DB_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_DB_PWD} 
    restart: unless-stopped
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    ports:
      - 3000:3000
    env_file:
      - ./frontend/.env

  auth-backend:
    build: ./backend
    container_name: auth-backend
    command: node authServer.js
    ports:
      - 4000:4000
    env_file:
      - ./.env
    depends_on:
      - mongodb

  card-backend:
    build: ./backend
    container_name: card-backend
    command: node server.js
    ports:
      - 5000:5000
    env_file:
      - ./.env
    depends_on:
      - mongodb

volumes:
  mongo-data: